<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Money Manager{% endblock %}</title>
    <link
        href="{{url_for('static',path='/css/app.css')}}"
        rel="stylesheet"
    />
</head>
<body class="flex flex-col min-h-screen bg-gray-100">
    <header 
        class="dark:text-slate-200 dark:bg-zinc-900 p-4 flex
            dark:shadow-white justify-between items-center shadow-lg">
        <div class="text-xl font-bold">Money Manager</div>
        <div class="flex items-center space-x-4">
            <div>Project: {{project}}</div>
        </div>
        <button 
            id="theme-toggle"
            class="p-2 shadow-zinc-900 w-10 dark:shadow-white shadow-xl rounded">
        </button>
    </header> 
    <div class="flex flex-1">
        <aside class="
            dark:bg-zinc-900
            text-zinc-900
            dark:text-white
            dark:shadow-white
            shadow-xl
            w-64
            p-4
            hidden
            md:block">
            <nav>
                {% block sidebar %}
                {% endblock %}
            </nav>
        </aside>

        <main class="flex-1 p-6 dark:bg-zinc-900">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <script>
        const html = document.documentElement;
        const toggleButton = document.getElementById('theme-toggle');

        function updateButtonText() {
            if (html.classList.contains('dark')) {
                toggleButton.textContent = '🌙';
            } else {
                toggleButton.textContent = '💡';
            }
        }

        // Check for saved theme preference or use light by default
        if (localStorage.getItem('theme') === 'dark') {
            html.classList.add('dark');
        }

        updateButtonText();

        // Toggle theme on button click
        toggleButton.addEventListener('click', () => {
            if (html.classList.contains('dark')) {
                html.classList.remove('dark');
                localStorage.setItem('theme', 'light');
            } else {
                html.classList.add('dark');
                localStorage.setItem('theme', 'dark');
            }
            updateButtonText()
        });
    </script>
</body>
</html>
